In [1]:
import pandas as pd

#DATA_FILENAME = '../../data/train.csv'
DATA_FILENAME = 'C:/Users/SOHAM/dsp-soham-chakraborty/data/train.csv'

In [2]:
import numpy as np

# Read data

- Read data

In [3]:
df_raw = pd.read_csv(DATA_FILENAME)

- Show head of data (first 5 rows)

In [4]:
df_raw.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
df_raw.tail()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [6]:
df_raw.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

- check how many rows you have in the data

In [7]:
df_raw.shape

(1460, 81)

- Filter data

In [8]:
label_col = 'SalePrice'
useful_features = ['Foundation', 'KitchenQual', 'TotRmsAbvGrd', 'WoodDeckSF', 'YrSold', '1stFlrSF']

In [9]:
df = df_raw[useful_features + [label_col]]
df.head()

,Foundation,KitchenQual,TotRmsAbvGrd,WoodDeckSF,YrSold,1stFlrSF,SalePrice
0,PConc,Gd,8,0,2008,856,208500
1,CBlock,TA,6,298,2007,1262,181500
2,PConc,Gd,6,0,2008,920,223500
3,BrkTil,Gd,7,0,2006,961,140000
4,PConc,Gd,9,192,2008,1145,250000

In [10]:
df.shape

(1460, 7)

# Preprocess data

In [11]:
continuous_features = ['TotRmsAbvGrd', 'YrSold','1stFlrSF']
categorical_features = ['Foundation', 'KitchenQual']
features_to_one_hot_encode = ['Foundation']
features_to_oridinal_encode = ['KitchenQual']

- check the values and the count of a given feature

In [12]:
df['Foundation'].value_counts()

PConc     647
CBlock    634
BrkTil    146
Slab       24
Stone       6
Wood        3
Name: Foundation, dtype: int64

In [13]:
df['TotRmsAbvGrd'].value_counts()

6     402
7     329
5     275
8     187
4      97
9      75
10     47
11     18
3      17
12     11
2       1
14      1
Name: TotRmsAbvGrd, dtype: int64

In [14]:
df['KitchenQual'].value_counts()

TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64

In [15]:
df['1stFlrSF'].value_counts()

864     25
1040    16
912     14
894     12
848     12
        ..
1509     1
2515     1
605      1
3138     1
1256     1
Name: 1stFlrSF, Length: 753, dtype: int64

In [16]:
df['WoodDeckSF'].value_counts()

0      761
192     38
100     36
144     33
120     31
      ...
326      1
179      1
103      1
176      1
736      1
Name: WoodDeckSF, Length: 274, dtype: int64

## Encoding

### One Hot Encoding

In [17]:
#df_one_hot_code = pd.get_dummies(df[features_to_one_hot_encode])
#df_one_hot_code.head()

In [18]:
from sklearn.preprocessing import OneHotEncoder

one_hot_encoder = OneHotEncoder(sparse_output=False)

In [19]:
one_hot_encoder.fit(df[features_to_one_hot_encode])

OneHotEncoder(sparse_output=False)

In [20]:
one_hot_encoder.categories_

[array(['BrkTil', 'CBlock', 'PConc', 'Slab', 'Stone', 'Wood'], dtype=object)]

In [21]:
df_one_hot_code = one_hot_encoder.transform(df[features_to_one_hot_encode])
df_one_hot_code

array([[0., 0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       ...,
       [0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.]])

### Ordinal Encoding

In [22]:
df['KitchenQual'].value_counts()

TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64

In [23]:
"""
1. Ex = excellent
2. Gd = Good
3. TA = typical
4. Fa = Fair
"""
kitchen_quality_dict = {'Ex': 4, 'Gd': 3, 'TA': 2, 'Fa': 1}
kitchen_quality_encoded = df['KitchenQual'].apply(lambda x: kitchen_quality_dict[x])
kitchen_quality_encoded.head()

0    3
1    2
2    3
3    3
4    3
Name: KitchenQual, dtype: int64

## TODO
- categorize the rest of features
- scale continuous features (df_scaled)
- ordinal encode categorical features (quality, etc) (df_ordinal_encoded)
- Concat the 3 dataframes in a single one (df_one_hot_code, df_ordinal_encoded, df_scaled)

### Scaling

In [24]:
continuous_features

['TotRmsAbvGrd', 'YrSold', '1stFlrSF']

In [25]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(df[continuous_features])

StandardScaler()

In [26]:
scaled_data = scaler.transform(df[continuous_features])
scaled_data

array([[ 0.91220977,  0.13877749, -0.79343379],
       [-0.31868327, -0.61443862,  0.25714043],
       [-0.31868327,  0.13877749, -0.62782603],
       ...,
       [ 1.52765629,  1.64520971,  0.06565646],
       [-0.93412978,  1.64520971, -0.21898188],
       [-0.31868327,  0.13877749,  0.2416147 ]])

In [27]:
type(scaled_data)

numpy.ndarray

In [28]:
df[continuous_features].head()

   TotRmsAbvGrd  YrSold  1stFlrSF
0             8    2008       856
1             6    2007      1262
2             6    2008       920
3             7    2006       961
4             9    2008      1145

- Converting to a dataframe so that we can merge it with the others (df_one_hot_encoded, df_ordinl_encoded)

In [29]:
scaled_df = pd.DataFrame(data=scaled_data, columns=continuous_features)
scaled_df.head()

   TotRmsAbvGrd    YrSold  1stFlrSF
0      0.912210  0.138777 -0.793434
1     -0.318683 -0.614439  0.257140
2     -0.318683  0.138777 -0.627826
3      0.296763 -1.367655 -0.521734
4      1.527656  0.138777 -0.045611

###  Concat all the dataframes

In [47]:
# This code first checks if each of the objects is a NumPy array and converts it to a DataFrame if it is. 
# Then, it concatenates them as intended.Since pd.concat expects all objects to be pandas DataFrames or Series.
if isinstance(df_one_hot_code, np.ndarray):
    df_one_hot_code = pd.DataFrame(df_one_hot_code)
if isinstance(kitchen_quality_encoded, np.ndarray):
    kitchen_quality_encoded = pd.DataFrame(kitchen_quality_encoded)
if isinstance(scaled_df, np.ndarray):
    scaled_df = pd.DataFrame(scaled_df)

X = pd.concat([df_one_hot_code, kitchen_quality_encoded, scaled_df], axis=1)
X

,0,1,2,3,4,5,KitchenQual,TotRmsAbvGrd,YrSold,1stFlrSF
0,0.0,0.0,1.0,0.0,0.0,0.0,3,0.912210,0.138777,-0.793434
1,0.0,1.0,0.0,0.0,0.0,0.0,2,-0.318683,-0.614439,0.257140
2,0.0,0.0,1.0,0.0,0.0,0.0,3,-0.318683,0.138777,-0.627826
3,1.0,0.0,0.0,0.0,0.0,0.0,3,0.296763,-1.367655,-0.521734
4,0.0,0.0,1.0,0.0,0.0,0.0,3,1.527656,0.138777,-0.045611
...,...,...,...,...,...,...,...,...,...,...
1455,0.0,0.0,1.0,0.0,0.0,0.0,2,0.296763,-0.614439,-0.542435
1456,0.0,1.0,0.0,0.0,0.0,0.0,2,0.296763,1.645210,2.355701
1457,0.0,0.0,0.0,0.0,1.0,0.0,3,1.527656,1.645210,0.065656
1458,0.0,1.0,0.0,0.0,0.0,0.0,3,-0.934130,1.645210,-0.218982
1459,0.0,1.0,0.0,0.0,0.0,0.0,2,-0.318683,0.138777,0.241615

In [41]:
X.shape[0]

1460

In [42]:
print(df_one_hot_code.shape, kitchen_quality_encoded.shape, scaled_df.shape)

(1460, 6) (1460,) (1460, 3)

In [43]:
assert X.shape[0] == df_one_hot_code.shape[0]

### Save Processed data frame in a parquet file

In [52]:
# Ensure all column names are strings
X.columns = X.columns.map(str)
# Save the processed dataframe to a parquet file
processed_df = X
processed_df.to_parquet('C:/DspFiles/processed_df.parquet', index=False)

# Training

- Create X and y

In [147]:
#X, y = df_final.drop(columns=[label_col]), df_final[label_col]
y = df[label_col]

In [150]:
display(y.head())
display(X.head())

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

     0    1    2    3    4    5  KitchenQual  TotRmsAbvGrd    YrSold  1stFlrSF
0  0.0  0.0  1.0  0.0  0.0  0.0            3      0.912210  0.138777 -0.793434
1  0.0  1.0  0.0  0.0  0.0  0.0            2     -0.318683 -0.614439  0.257140
2  0.0  0.0  1.0  0.0  0.0  0.0            3     -0.318683  0.138777 -0.627826
3  1.0  0.0  0.0  0.0  0.0  0.0            3      0.296763 -1.367655 -0.521734
4  0.0  0.0  1.0  0.0  0.0  0.0            3      1.527656  0.138777 -0.045611

- Split data in X_train, y_train, X_test, y_test https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

In [151]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [152]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(978, 10) (978,)
(482, 10) (482,)

In [153]:
X_train

,0,1,2,3,4,5,KitchenQual,TotRmsAbvGrd,YrSold,1stFlrSF
615,0.0,0.0,1.0,0.0,0.0,0.0,3,-0.318683,1.645210,-0.281085
613,0.0,0.0,1.0,0.0,0.0,0.0,2,-0.318683,-0.614439,-0.110302
1303,0.0,0.0,1.0,0.0,0.0,0.0,3,0.296763,-1.367655,1.173158
486,0.0,1.0,0.0,0.0,0.0,0.0,2,-0.318683,-0.614439,-0.231920
561,0.0,1.0,0.0,0.0,0.0,0.0,2,-0.318683,-1.367655,0.585768
...,...,...,...,...,...,...,...,...,...,...
1095,0.0,0.0,1.0,0.0,0.0,0.0,3,-0.318683,-0.614439,0.391697
1130,1.0,0.0,0.0,0.0,0.0,0.0,3,0.296763,0.891994,0.427923
1294,0.0,1.0,0.0,0.0,0.0,0.0,2,-0.934130,-1.367655,-0.772733
860,1.0,0.0,0.0,0.0,0.0,0.0,3,0.296763,-0.614439,-0.648527
1126,0.0,0.0,1.0,0.0,0.0,0.0,3,0.296763,0.891994,1.015313

In [154]:
X_test

,0,1,2,3,4,5,KitchenQual,TotRmsAbvGrd,YrSold,1stFlrSF
892,0.0,1.0,0.0,0.0,0.0,0.0,2,-0.318683,-1.367655,-0.244858
1105,0.0,0.0,1.0,0.0,0.0,0.0,3,1.527656,1.645210,0.872994
413,0.0,1.0,0.0,0.0,0.0,0.0,2,-0.934130,1.645210,-0.348363
522,0.0,1.0,0.0,0.0,0.0,0.0,2,0.296763,-1.367655,-0.410466
1036,0.0,0.0,1.0,0.0,0.0,0.0,4,-0.318683,0.891994,1.183509
...,...,...,...,...,...,...,...,...,...,...
1010,0.0,1.0,0.0,0.0,0.0,0.0,2,0.296763,0.138777,-1.145350
390,1.0,0.0,0.0,0.0,0.0,0.0,2,0.296763,0.138777,-0.521734
1409,0.0,1.0,0.0,0.0,0.0,0.0,2,0.296763,0.138777,0.189862
847,0.0,1.0,0.0,0.0,0.0,0.0,2,-0.934130,0.891994,-0.772733
1284,0.0,0.0,1.0,0.0,0.0,0.0,3,2.143103,1.645210,1.387931

In [159]:
y_train

615     137500
613     147000
1303    232000
486     156000
561     170000
         ...
1095    176432
1130    135000
1294    115000
860     189950
1126    174000
Name: SalePrice, Length: 978, dtype: int64

- Instantiate a LinearRegressor https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html

In [155]:
# Model
from sklearn.linear_model import LinearRegression

model = LinearRegression()

- Train the model (model.fit ...)

In [160]:
# Convert feature names to strings
X_train.columns = X_train.columns.astype(str)
X_test.columns = X_test.columns.astype(str)

model.fit(X_train, y_train)

LinearRegression()

# Evaluation

- make predictions (`y_pred = model.predict(X_test)`)

In [162]:
y_pred = model.predict(X_test)
y_pred[:10]

array([135872., 271424., 123712., 145216., 279808.,  74880., 208960.,
       139904.,  72512., 179456.])

In [163]:
# To check if the no of rows of X_test , and y_pred are same
print(len(y_pred), len(X_test))

482 482

- compute performance using https://scikit-learn.org/stable/modules/generated/sklearn.metrics.root_mean_squared_error.html#sklearn.metrics.root_mean_squared_error

In [172]:
from sklearn.metrics import mean_squared_error
# Calculate mean squared and then square rooting 
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

# Display the RMSE
print(f"Root Mean Squared Error: {rmse}")

Root Mean Squared Error: 47455.23957128059